<div class="card">
  <div class="card-body">
    <h6 class="text-center">Lista de equipos</h6>
    <table class="table table-sm table-hover">
      <tbody>
          <tr *ngFor="let deporte of deportList">
              <td>{{deporte.name}}</td>
              <td>{{deporte.category}}</td>
              <td>{{deporte.descripcion}}</td>
              <td>{{deporte.lugar}}</td>
              <td>
                <a class="btn btn-secondary text-white" (click)="onEdit(deporte)">
                    <i class="far fa-edit"></i>
                </a>
                <a class="btn btn-danger text-white" (click)="onDelete(deporte.$key)">
                    <i class="fas fa-trash-alt"></i>
                </a>
              </td>
            </tr>
      </tbody>
    </table>

  </div>
</div>